@media screen and (min-width: 768px) {
    body {
      background-color: greenyellow;
    }
}

header {
    background-color: aqua;
    color: blue;
    position:sticky;
    text-align: left;
    width: 100%;
    border: 15px solid blue;
    padding: 20px;
    margin: 20px;
}

body {
    background-color: coral;
}

nav {
    color:blue; 
    text-align: right;
}

li {
    color: blue;
    display: inline;
}

#aboutme {
    background-color: aqua;
    color: blue;
    width: 100%;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
    float: right;
}

.aboutmeandphoto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section {
    color: blue;
    background-color: aqua;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}

#work {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: space-evenly;
}

footer {
    background-color: aqua;
    color: blue;
    width: 100%;
    border: 15px solid blue;
    padding: 20px;
    margin: 20px;
}