header {
    background-color: aqua;
    color: blue;
    position:sticky;
    text-align: left;
}

body {
    background-color: coral;
}

nav {
    text-align: right;
}

li {
    color: blue;
    display: inline;
}